MP_PUBLIC_KEY=APP_USR-fe1873c2-8c73-4de5-8de3-36488d193840
MP_ACCESS_TOKEN=APP_USR-6741040299775002-030508-8b5f745513585cc4898475f85e3d4d8a-1220793753

ARCA_ENV=homo
ARCA_CUIT=30718763718
ARCA_PTO_VTA=2

ARCA_WSAA_URL=https://wsaahomo.afip.gov.ar/ws/services/LoginCms
ARCA_WSFE_URL=https://wswhomo.afip.gov.ar/wsfev1/service.asmx

ARCA_PADRON_URL=https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA13
ARCA_PADRON_SERVICE=ws_sr_padron_a13

# CERT HOMO (issuer Computadores Test) => el que te dio SMOKE OK
ARCA_CMS_CERT=
ARCA_CMS_KEY=


