<!------------Footer------------>
<footer>
    <div class="main-footer">
      
        <a href="/">
          <img class="logo" src="/images/logo.png"  width="200rem" alt="LOGO" />
        </a>

      <!------------Redes sociales y logo------------>
      <div class="redes">
        <h2>Seguinos en nuestras redes</h2>
        <div class="iconos-redes">
          <a href="https://www.instagram.com/autofaros_cordoba/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100063665395970/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" onclick="abrirMapa(); return false;"><i class="fas fa-map-marker-alt"></i></a> <!-- Icono de ubicación -->
          <a href="https://wa.me/+543513820440/" target="_blank"><i class="fab fa-whatsapp"></i></a> <!-- Icono de WhatsApp -->
        </div>
      </div>
      
     
    <!------------Autor------------>
    <div class="autor">
      <h3>DESARROLLADO POR WC DEVELOPER</h3>
    </div>
    <script src="js/index.js"></script> 
</footer>