<!------------Footer------------>
<footer>
    <div class="main-footer">
      
        <a href="/">
          <img class="logo" src="/images/logo.png"  width="200rem" alt="LOGO" />
        </a>

      <!------------Redes sociales y logo------------>
      <div class="redes">
        <h2>Seguinos en nuestras redes</h2>
        <div class="iconos-redes">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>

      <!------------Navegador del footer------------>
      <div class="footer-nav">
        <ul>
          <a href="">
            <li>Medios de pago</li>
          </a>
          <a href="">
            <li>Contacto</li>
          </a>
          <a href="">
            <li>Términos y condicones</li>
          </a>
          <a href="">
            <li>Políticas de privacidad</li>
          </a>
          <a href="">
            <li>Botón de arrepentimiento</li>
          </a>
        </ul>
      </div>
     
    <!------------Autor------------>
    <div class="autor">
      <h3>DESARROLLADO POR WC DEVELOPER</h3>
    </div>
    
</footer>