<header>
  <a href="/">
    <img class="logo" src="/uploads/productos/logo.png"  alt="LOGO" />
  </a>
  
  <button class="hamburger" onclick="toggleMenu()">☰</button>
  
  <nav class="navbar">
    <a class="nav-link" href="/">INICIO</a>
    <a class="nav-link" href="/productos">PRODUCTOS</a>
  
    <% if (userLogged.isAdmin) { %>
      <% if (userLogged.isAccountingAdmin) { %>
        <a class="nav-link" href="/administracion">ADMINISTRACIÓN</a>
      <% } else { %>
        <a class="nav-link" href="/productos/panelControl">PANEL CONTROL</a>
        <a class="nav-link" href="/productos/presupuestoMostrador">PRESUPUESTO</a>
        <a class="nav-link-factura" href="/productos/facturasMostrador">FACTURAS</a>
      <% } %>
    <% } else if (isLogged) { %>
    <% } %>
    <!-- Enlace a WhatsApp -->
    <a class="nav-link" href="https://wa.me/+543513820440/" target="_blank">WHATSAPP</a>
  
    <!-- Enlace a la ubicación -->
    <a class="nav-link" href="#" onclick="abrirMapa(); return false;">UBICACIÓN</a>
  </nav>
  
  <div class="icons">
    <% if (isLogged) { %>
      <div class="logueado"> 
        <a href="/users/profile"> 
          <p>Hola <%= userLogged.nombre %> </p> <!-- Cambiado de usuario.nombre a userLogged.nombre -->
        </a>
        <a href="/users/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Salir</span> <!-- Aquí se añade el texto "Salir" -->
        </a>
      </div>
    <% } else if (!isAdminUser) { %> <!-- Agregamos esta condición para no mostrar esto al admin -->
      <a href="/users/login">Iniciar Sesión</a>
      <a class="register-link" href="/users/register">Registrarme</a>
    <% } %> 
  </div>
  <script src="js/index.js"></script> 
</header>