<header>
  <a href="/">
    <img class="logo" src="/uploads/productos/logo.png" alt="LOGO" />
  </a>

  <button class="hamburger" onclick="toggleMenu()">☰</button>

  <!-- header.ejs -->
  <nav class="navbar">
    <a class="nav-link" href="/">INICIO</a>
    <a class="nav-link" href="/productos">PRODUCTOS</a>
    <a class="nav-link" href="/productos/ofertas">OFERTAS</a>

    <% if (isAdminUser) { %> <!-- Verifica si el usuario es admin usando la variable definida en el middleware -->
      <a class="nav-link" href="/productos/panelControl">PANEL CONTROL</a>
      <a class="nav-link" href="/productos/presupuestoMostrador">PRESUPUESTO</a>
      <a class="nav-link-factura" href="/productos/facturasMostrador">FACTURAS</a>
      <a class="nav-link" href="/administracion">ADMINISTRACIÓN</a>
    <% } %>

    <a class="nav-link" href="https://wa.me/+543513820440/" target="_blank">WHATSAPP</a>
    <a class="nav-link" href="#" onclick="abrirMapa(); return false;">UBICACIÓN</a>
  </nav>

  <div class="icons">
    <% if (isLogged) { %>
      <div class="logueado"> 
        <a href="/users/profile"> 
          <p>Hola <%= userLogged.nombre %> </p> 
        </a>
       
        <a href="/carrito" class="carrito-icon">
          <i class="fa-solid fa-cart-shopping"></i>
          <!-- Alerta con la cantidad de productos -->
          <% if (cantidadCarrito > 0) { %>
            <span class="cantidad-alerta"><%= cantidadCarrito %></span>
          <% } %>
          
        </a> 
        <a href="/users/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Salir</span> 
        </a>
      </div>
    <% } else { %> <!-- Si no está logueado -->
      <a href="/users/login">Iniciar Sesión</a>
      <a class="register-link" href="/users/register">Registrarme</a>
    <% } %>  
  </div>

  <script src="js/index.js"></script> 
</header>
