<header>
  <a href="/">
    <img class="logo" src="/images/logo.png" width="200rem" alt="LOGO" />
  </a>

  <nav class="navbar">
    <a class="nav-link" href="/">INICIO</a>
    <a class="nav-link" href="/productos">PRODUCTOS</a>
    <% if (isAdminUser) { %>
      <a class="nav-link" href="/productos/panelControl">PANEL CONTROL</a>
    <% } else if (isLogged) { %>
      <a class="nav-link" href="/productos/carrito">CARRITO</a>
    <% } %>
  </nav>
  
  <div class="icons">
    <% if (isLogged) { %>
      <div class="logueado"> 
        <a href="/users/profile"> 
          <img src="/img/users/<%= userLogged.imagenUsuario %> "> <!-- Cambiado de usuario.imagenUsuario a userLogged.imagenUsuario -->
          <p>Hola <%= userLogged.nombre %> </p> <!-- Cambiado de usuario.nombre a userLogged.nombre -->
        </a>
        <a href="/users/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
    <% } else if (!isAdminUser) { %> <!-- Agregamos esta condición para no mostrar esto al admin -->
      <a href="/users/login">Iniciar Sesión</a>
      <a class="register-link" href="/users/register">Registrarme</a>
    <% } %> 
  </div>
</header>
