<header>
  <a href="/">
    <img class="logo" src="/uploads/productos/logo.png" alt="LOGO" />
  </a>

  <button class="hamburger" onclick="toggleMenu()">☰</button>

  <!-- header.ejs -->
  <nav class="navbar">
    <a class="nav-link" href="/">INICIO</a>
    <a class="nav-link" href="/productos">PRODUCTOS</a>
    <a class="nav-link" href="/productos/ofertas">OFERTAS</a>

    <% if (isAdminUser) { %>
      <a class="nav-link" href="/productos/panelControl">PANEL CONTROL</a>
      <a class="nav-link" href="/productos/presupuestoMostrador">PRESUPUESTO</a>
      <a class="nav-link-factura" href="/productos/facturasMostrador">FACTURAS</a>
      <a class="nav-link" href="/administracion" id="admin-btn">
        ADMINISTRACIÓN 
        <span id="pedido-notificacion" class="cantidad-alerta" style="display: none;">!</span>
      </a>
    <% } %>

    <a class="nav-link" href="https://wa.me/+543513820440/" target="_blank">WHATSAPP</a>
    <a class="nav-link" href="#" onclick="abrirMapa(); return false;">UBICACIÓN</a>
  </nav>

  <div class="icons">
    <% if (isLogged) { %>
      <div class="logueado"> 
        <a href="/users/profile"> 
          <p>Hola <%= userLogged.nombre %> </p> 
        </a>
       
        <a href="/carrito" class="carrito-icon">
          <i class="fa-solid fa-cart-shopping"></i>
          <span id="carrito-notificacion" class="cantidad-alerta" 
                <% if (cantidadCarrito <= 0) { %> style="display: none;" <% } %>>
              <%= cantidadCarrito %>
          </span>
        </a>          
        <a href="/users/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Salir</span> 
        </a>
      </div>
    <% } else { %>
      <a href="/users/login">Iniciar Sesión</a>
      <a class="register-link" href="/users/register">Registrarme</a>
    <% } %>  
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    
    socket.on('nuevoPedido', () => {
        console.log("🔔 Notificación de nuevo pedido recibida.");
        const notificacion = document.getElementById("pedido-notificacion");
        if (notificacion) {
            notificacion.style.display = "inline-block"; // Muestra la alerta en el botón de administración
        }
    });

    // Si el admin entra a la vista de administración, oculta la notificación
    document.getElementById("admin-btn")?.addEventListener("click", () => {
        document.getElementById("pedido-notificacion").style.display = "none";
    });
  </script>
</header>
