<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <div class="button-container">
    <a href="https://www.santander.com.ar/" target="_blank" class="button santander-button">
      <button>Banco Santander</button>
    </a>
    <a href="https://www.mercadopago.com.ar/" target="_blank" class="button mercadopago-button">
      <button>MercadoPago</button>
    </a>
  </div>
  <%- include ./layouts/footer.ejs %>
</body>