<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
  <div class="button-container">
    <a href="https://empresas.santander.com.ar/login" target="_blank">
      <button class="button santander-button">Banco Santander</button>
    </a>
    <a href="https://www.mercadopago.com.ar/home" target="_blank">
      <button class="button mercadopago-button">MercadoPago</button>
    </a>
    <a href="/productos/facturas">
      <button class="button facturas-button">Facturas</button>
    </a>
    <a href="/productos/presupuesto">
      <button class="button presupuesto-button">Presupuesto</button>
    </a>
  </div>
  
</main>
  <%- include ./layouts/footer.ejs %>
</body>