<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
    <main class="carrito-container">
        <h1> Confirmar Datos </h1>
        
    </main>

    <%- include ./layouts/footer.ejs %>
    <script src="/js/confirmarDatos.js"></script>


</body>
