<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
    <main>
<div class="container-crear"> 
    <div class="contenido-crear">

        <div class="titulo-crear">
        Crear Producto
        </div>

        <div class="card-body">
        

            <form method="post" action="/productos" enctype="multipart/form-data">

                <div class="form-group-crear">
                <label for="my-input">Imagen</label>
                <input id="my-input" class="form-control-file" type="file" name="archivo">
                </div>
                
                <div class="form-group-crear">
                <label for="my-input">Nombre:</label>
                <input id="my-input" class="form-control" type="text" name="nombre">
                </div>

                <div class="form-group-crear">
                    <label for="my-input">Código:</label>
                    <input id="my-input" class="form-control" type="text" name="codigo">
                </div>

                <div class="form-group-crear">
                <label for="my-input">Descripcion:</label>
                <input id="my-input" class="form-control" type="text" name="descripcion">
                </div>

                <div class="form-group-crear">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria">
                      <option value="FAROS TRASEROS">FAROS TRASEROS</option>
                      <option value="FAROS DELANTEROS">FAROS GIROS DELANTEROS</option>
                      <option value="OPTICAS">OPTICAS</option>
                      <option value="FAROS LED">FAROS LED</option>
                      <option value="LAMPARAS">LAMPARAS</option>
                      <option value="FAROS CAMIONES">FAROS CAMIONES</option>
                      <option value="LINEA UNIVERSAL">LINEA UNIVERSAL</option>
                    </select>
                </div>

                <div class="form-group-crear">
                <label for="my-input">Proveedor:</label>
                <select id="categoria" name="proveedor">
                    <option value="LAM">LAM</option>
                    <option value="DAM">DAM</option>
                    <option value="LIDERCAR">LIDERCAR</option>
                    <option value="DM">DM</option>
                    <option value="MYL">MYL</option>
                    <option value="JR">JR</option>
                    <option value="FAL">FAL</option>
                  </select>
                </div>

                <div class="form-group-crear">
                    <label for="my-input">Precio:</label>
                    <input id="my-input" class="form-control" type="number" step="0.01" name="precio">
                </div>
    
                <div class="botones-crear">
                <button class="btn btn-success" type="submit">Guardar</button>
                <a class='btn btn-primary'href="/productos">Cancelar</a>
                </div>
            </form>

    </div>
    </div>
    </div>
</main>
    <%- include ./layouts/footer.ejs %>
    </body>



