<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
    <main>
<div class="container-crear"> 
    <div class="contenido-crear">

        <div class="titulo-crear">
        Crear Producto
        </div>

        <div class="card-body">
        

            <form method="post" action="/productos" enctype="multipart/form-data">

                <div class="form-group-crear">
                    <label for="imagen">Imagen</label>
                    <input id="imagen" class="form-control-file" type="file" name="archivo">
                </div>
                
                <div class="form-group-crear">
                <label for="nombre">Nombre:</label>
                <input id="nombre" class="form-control" type="text" name="nombre">
                </div>

                <div class="form-group-crear">
                    <label for="codigo">Código:</label>
                    <input id="codigo" class="form-control" type="text" name="codigo">
                </div>

                <div class="form-group-crear">
                <label for="descripcion">Descripcion:</label>
                <input id="descripcion" class="form-control" type="text" name="descripcion">
                </div>

                <div class="form-group-crear">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria">
                      <option value="" selected>Selecciona una categoría...</option>
                      <option value="FAROS TRASEROS">FAROS TRASEROS</option>
                      <option value="FAROS DELANTEROS">FAROS DELANTEROS</option>
                      <option value="OPTICAS">OPTICAS</option>
                      <option value="FAROS LED">FAROS LED</option>
                      <option value="LAMPARAS">LAMPARAS</option>
                      <option value="FAROS CAMIONES">FAROS CAMIONES</option>
                      <option value="LINEA UNIVERSAL">LINEA UNIVERSAL</option>
                    </select>
                </div>

                <div class="form-group-crear">
                <label for="proveedor">Proveedor:</label>
                <select id="proveedor" name="proveedor">
                    <option value="" selected>Selecciona un proveedor...</option>
                    <option value="LAM">LAM</option>
                    <option value="DAM">DAM</option>
                    <option value="LIDERCAR">LIDERCAR</option>
                    <option value="DISTRILED">DISTRILED</option>
                    <option value="DM">DM</option>
                    <option value="MYL">MYL</option>
                    <option value="JR">JR</option>
                    <option value="FAL">FAL</option>
                  </select>
                </div>

                <div class="form-group-crear">
                    <label for="marca">Marca:</label>
                    <select id="marca" name="marca">
                        <option value="" selected>Selecciona una marca...</option>
                        <option value="RENAULT">RENAULT</option>
                        <option value="PEUGEOT">PEUGEOT</option>
                        <option value="FORD">FORD</option>
                        <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                        <option value="FIAT">FIAT</option>
                        <option value="CHEVROLET">CHEVROLET</option>
                        <option value="CITROEN">CITROEN</option>
                        <option value="AUDI">AUDI</option>
                      </select>
                    </div>
                    <div class="form-group-crear">
                        <label for="modelo">Modelo:</label>
                        
                        <select id="modelo" name="modelo">
                            <option value="" selected>Selecciona un modelo...</option><!-- Los modelos se llenarán dinámicamente con JavaScript -->
                        </select>
                    </div>

                <div class="form-group-crear">
                    <label for="precio">Precio:</label>
                    <input id="precio" class="form-control" type="number" step="0.01" name="precio">
                </div>
    
                <div class="botones-crear">
                <button class="btn btn-success" type="submit">Guardar</button>
                <a class='btn btn-primary'href="/productos">Cancelar</a>
                </div>
            </form>

    </div>
    </div>
    </div>
</main>
    <%- include ./layouts/footer.ejs %>
    <script src="/js/crear.js"></script> 
</body>



