<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
   <main>
    <div class="button-container-presupuesto">
      <button class="btn-primary-presupuestos" onclick="window.location.href='/productos/listadoFacturas'">Listado de Facturas</button>
    </div>
    <form id="invoice-form" action="/productos/procesarFormularioFacturas" method="POST">
      <div id="invoice">
        <h2>Facturas</h2>
        <div id="invoice-details">
          <div class="input-container">
            <label for="nombre-cliente">Vendedor responsable:</label>
            <select id="nombre-cliente" name="nombreCliente" required>
              <option value="">Seleccionar vendedor</option>
              <option value="CHACHO">CHACHO</option>
              <option value="GERARDO">GERARDO</option>
              <option value="WALTER">WALTER</option>
            </select>
          </div>
          
          <div class="input-container">
            <label for="fecha-presupuesto">Fecha:</label>
            <input type="date" id="fecha-presupuesto" name="fechaPresupuesto">
          </div>
          <div class="input-container">
            <label for="numero-presupuesto">N° Factura</label>
            <p><%= idFactura %></p>
          </div>
        </div>

        <div id="metodos-pago">
        <h3>Método de Pago</h3>
        <label><input type="radio" name="metodosPago" value="EFECTIVO"> Efectivo</label>
        <label><input type="radio" name="metodosPago" value="CREDITO"> Crédito</label>
        <label><input type="radio" name="metodosPago" value="DEBITO"> Débito</label>
        <label><input type="radio" name="metodosPago" value="TRANSFERENCIA"> Transferencia</label>
        <label><input type="radio" name="metodosPago" value="QR"> QR</label>
        </div>

        <div class="buscador">
          <input type="text" id="entradaBusqueda" name="searchInput" placeholder="Qué estás buscando? Ej: Escort, Óptica, Faro, Agile" autocomplete="off">
          <div id="resultadosBusqueda"></div>
        </div>
        <div id="invoice-items">
          <table id="tabla-factura">
              <thead>
                  <tr>
                      <th>Imagen</th>
                      <th>Código</th>
                      <th>Descripción</th>
                      <th>Precio Unitario</th>
                      <th>Cantidad</th>
                      <th>Stock Actual</th>
                      <th>Subtotal</th>
                      <th>Eliminar</th>
                  </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < 10; i++) { %>
                    <tr>
                        <td><img src="" class="miniatura-tabla" style="display: none;"></td>
                        <td></td> <!-- Código -->
                        <td></td> <!-- Descripción -->
                        <td><input type="text" class="precio-editable" disabled></td>
                        <td><input type="number" min="1" value="0" disabled></td>
                        <td></td> <!-- Stock -->
                        <td></td> <!-- Subtotal -->
                        <td>
                          <button type="button" class="boton-eliminar-factura" style="display: none;">
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                        
                    </tr>
                <% } %>
            </tbody>
            
          </table>
      </div>
        <div id="invoice-total">
          <div id="invoice-interes">
            <label>Interés (15%): <input type="text" id="interes-amount" name="interes" readonly></label>
        </div>
         <label id="label-total">Total: <input type="text" id="total-amount" name="totalPresupuesto" readonly></label>
        </div>
        <input type="hidden" id="invoiceItems" name="invoiceItems">
        <div class="botones-contenedor">
          <button type="submit">Guardar Factura</button>
          <button type="button" id="print-button">Imprimir Factura</button>
        </div>
      </div>
    </form>
   </main>
   <%- include ./layouts/footer.ejs %>
   <script src="/js/buscadorFacturasMostrador.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
