<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <body class="body-index">
    <main class="mainIndex">
    <div class="peliculas-recomendadas contenedor">
      <div class="contenedor-titulos-controles">
        <div class="indicadores">      
        </div>
      </div>
      <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fa-solid fa-angle-left"></i></button>      
        <div class="contenedor-carrousel">
          <div class="carrousel">           
            <div class="pelicula">            
              <a href="/productos?categoria=FAROS TRASEROS"><img class="imagen-carrusel" data-categoria="FAROS TRASEROS" src="images/8.png" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>FAROS TRASEROS</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=OPTICAS"><img class="imagen-carrusel"  data-categoria="OPTICAS"src="images/9.png" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>OPTICAS</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=FAROS LED"><img class="imagen-carrusel"  data-categoria="FAROS LED"src="images/10.png" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>FAROS LED</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=FAROS DELANTEROS"><img class="imagen-carrusel" data-categoria="FAROS DELANTEROS" src="images/11.png" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>LAMPARAS</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=UNIVERSAL"><img class="imagen-carrusel" data-categoria="UNIVERSAL" src="images/12.png" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>LINEA UNIVERSAL</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=FAROS CAMIONES"><img class="imagen-carrusel" data-categoria="FAROS CAMIONES" src="images/13.png" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>LINEA CAMIONES</p>
              </div>
            </div>          
        </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fa-solid fa-angle-right"></i></button>
      </div>
    </div>   
    </main> 
    
    <%- include ./layouts/footer.ejs %>
    <script src="js/index.js"></script> 
</body>

</html>