<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main class="container-listadoPresupuesto">
        <h2 class="titulo-listado">Listado de Presupuestos</h2>
        <div class="filtros-presupuestos">
            <div class="filtros-fechas">
              <label for="fechaInicio">Desde:</label>
              <input type="date" id="fechaInicio" value="<%= new Date().toISOString().split('T')[0] %>">
              
              <label for="fechaFin">Hasta:</label>
              <input type="date" id="fechaFin" value="<%= new Date().toISOString().split('T')[0] %>">
            </div>
          
            <div class="filtros-botones">
              <button id="buscar">Buscar</button>
              <button id="btnImprimir" class="btn btn-primary">Imprimir Detalle</button>
              <button id="btnImprimirTotal" class="btn btn-secondary">Imprimir Total</button>
            </div>
          </div>
          
        <table id="presupuestos-table" class="table-presupuestos">
            <thead class="thead-presupuestos">
                <tr>
                    <th>ID Presupuesto</th>
                    <th>Fecha</th>
                    <th>Hora</th> <!-- ✅ NUEVA COLUMNA -->
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán las filas dinámicamente con JavaScript -->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="td-presupuestos"><strong>Total:</strong></td> <!-- Ajustado colspan de 4 a 5 -->
                    <td id="total-presupuestos" class="tfoot-total"></td>
                </tr>
            </tfoot>
        </table>
        
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="/js/listadoPresupuestos.js"></script>
</body>
