<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main class="container-listadoPresupuesto">
        <h2 class="titulo-listado">Listado de Facturas</h2>
        <label for="fechaInicio">Desde:</label>
        <input type="date" id="fechaInicio" value="<%= new Date().toISOString().split('T')[0] %>">
        <label for="fechaFin">Hasta:</label>
        <input type="date" id="fechaFin" value="<%= new Date().toISOString().split('T')[0] %>">
        <button id="buscar">Buscar</button>
        <button id="btnImprimirTotal" class="btn btn-secondary">Imprimir Total</button> 

        <table id="presupuestos-table" class="table-presupuestos">
            <thead class="thead-presupuestos">
                <tr>
                    <th>ID Factura</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán las filas dinámicamente con JavaScript -->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="td-presupuestos"><strong>Total:</strong></td>
                    <td id="total-presupuestos" class="tfoot-total"></td>
                </tr>
            </tfoot>
        </table>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="/js/listaFacturas.js"></script>
</body>
