
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body class="body-login">

  <div class="login-form">

    <h2>Iniciar Sesión</h2>

    <form action="auth" method="post" class="formulario-login">
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" >
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <div class="btn-ingresar">
        <input type="submit" class="btn-login" value="Ingresar">
        <a href="register" class="btn-register">Registrate</a>
        </div>
    </form>
    
  </div>
     
    <%- include ./layouts/footer.ejs %>
</body>

 