<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>

<body>
    <main class="carrito-container">
        <h1>❌ Pago Fallido</h1>
        <p><%= mensaje %></p>
        <a href="/carrito" class="btn-finalizar">Volver al Carrito</a>
    </main>
    <%- include('./layouts/footer.ejs') %>
</body>
