<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>

<body>
    <main class="carrito-container">
        <h1>🎉 Pago Exitoso</h1>
        <p><%= mensaje %></p>
        <a href="/" class="btn-finalizar">Volver al Inicio</a>
    </main>
    <%- include('./layouts/footer.ejs') %>
</body>
