
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
   

    <div id="wallet_container">
    </div>
    <script>
      const mp = new MercadoPago('YOUR_PUBLIC_KEY', {
        locale: 'es-AR'
      });

      mp.bricks().create("wallet", "wallet_container", {
        initialization: {
            preferenceId: "<PREFERENCE_ID>",
        },
      });
  </script>
    
    <%- include ./layouts/footer.ejs %>
 

</body>
