<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>

<body>
    <h2>❌ Error en el Pago</h2>
    <p><%= mensaje %></p>
    <a href="/carrito">Volver al carrito</a>
</body>

<%- include('./layouts/footer.ejs') %>
