<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>

<body>
    <h2>✅ Pago Exitoso</h2>
    <p><%= mensaje %></p>
    <a href="/">Volver al inicio</a>
</body>

<%- include('./layouts/footer.ejs') %>
