<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>
<body>
    <main>
        <div class="buscador-panel">
            <input type="text" id="entradaBusqueda" placeholder="¿Qué estás buscando? Ej: Escort, Óptica, Faro, Agile">
        </div>
        <div id="contenedor-productos"></div> <!-- Mostrar el listado de productos buscados aquí -->
        
        <!-- Tabla donde se agregan los productos seleccionados -->
        <table id="tabla-pedido">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
            <tbody id="tabla-pedido-body">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Total del pedido:</td>
                    <td id="total-pedido">0</td>
                </tr>
            </tfoot>
        </table>
    </main>
    
    
    <%- include('./layouts/footer.ejs') %>
    <script src="/js/buscadorPedidoManual.js"></script>
</body>
