<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
   <main>
      <div id="invoice">
         <h2>Factura</h2>
         <div id="invoice-details">
            <p>Nombre del cliente: <span id="customer-name"></span></p>
            <p>Fecha: <span id="invoice-date"></span></p>
            <p>Número de factura: <span id="invoice-number"></span></p>
         </div>
         <div class="buscador">
            <input type="text" id="entradaBusqueda" placeholder="Que estás buscando? Ej:Escort, Optica, Faro, Agile">
          </div>
         <div id="invoice-items">
            <table class="table" id="tabla-factura">
              <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
                <!-- Aquí se agregarán los productos de la factura -->
              </tbody>
            </table>
         </div>
         <div id="invoice-total">
            <p>Total: <span id="total-amount"></span></p>
         </div>
      </div>
   </main>
   <%- include ./layouts/footer.ejs %>
   <script src="/js/buscadorPresupuesto.js"></script> 
</body>