
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
   <main>

    </main>
    <script src="/js/profile.js"></script>
      <%- include ./layouts/footer.ejs %>
  </body>
 
