
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<html>
<body>

   <div class="register-form">
    
    <h2>Registrate</h2>

    <form action="./register" method="post" class="formulario-register">
     
    
        <label for="usuario" >Usuario</label>
        <input type="text" name="usuario" required>

        <label for="nombre">Nombre Completo</label>
        <input type="text" name="nombre" required>

        <label for="email" >Email</label>
        <input type="text" name="email" required>

        <label for="rol" >Rol</label>
        <select name="rol" id="rol" class="select-css">
          <option value="admin" selected> Administrador</option>
          <option value="data entry">Data Entry</option>
        </select>

        <label for="password">Contraseña</label>
        <input type="password" name="password" required>

        <div class="btn-guardar">
           
            <input type="submit" value="Guardar" class="btn-register"> 
            <a href="/" class="btn-cancel">Cancelar</a> 
        </div>

    </form>
    
    
  </div>
     
    <%- include ./layouts/footer.ejs %>
</body>
</html>
 