:root {
  --Dark-blue: #1d1e2c;
  --Light-gray: #8d99ae;
  --White: #ffffff;
  --Light-red: #ef233c;
  --Red: #d90429;
} 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  transition: .3s linear;
}
/* -------------------------------------------BODY----------------------------------*/

body {
    
  font-family: 'Montserrat', sans-serif;
  
}
main {
  margin-bottom: 100px; 
}

/* -----------------------------------------HEADER--------------------------------*/
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 25px rgba(189, 189, 189, 0.52);
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}
.hamburger {
  font-size: 1.5rem;
  display: none;
  background: linear-gradient(to bottom, #4c8fbd, #003f7d);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  position: relative;
}
.hamburger:active {
  top: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
header .logo{
  height: 200px;
}
header .navbar a {
  font-size: 18px;
  padding: 0 .9rem;
  text-decoration: none;
  color: #1F487E;
  font-family: "Montserrat";
  font-weight: bold;
  z-index: 10;
}
.navbar .nav-link:hover {
  color: #d90429
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .icons a {
  display: flex;
  flex-direction: row;
  width: 70%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #1F487E;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}

header .icons a:hover {
  color: var(--Red);
}

header .icons .register-link{
border-radius: 5px;
  background-color: #1F487E;
  color: #fff !important;
  padding: 0.5rem 1.0rem 0.5rem 1.0rem;
  cursor: pointer;
  top: -4px;
}

header .icons .register-link:hover {
  transition: .2s ease;
  background-color: #d90429;
}

header .logueado{
    display: flex;
    align-items: center; 
    gap: 10px; 
}

header .icons .logueado a{
  position: relative;
  margin-right: 10px;
}
header .icons .logueado a i {
  position: relative;
  margin-top: 0;

}
header .icons .logueado a i {
  font-size: 24px; 
  vertical-align: middle;
}
header .icons .logueado a span {
  margin-left: 5px; 
}
header .logueado img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

header .icons p {
  font-size: 15px;
  align-items: flex-start;
}
/* ---------------------------------------FOOTER ------------------------------------------- */
footer {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(189, 189, 189, 0.52);
  width: 100%;
}
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes .logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes h2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:20px;
  font-size: 1rem;
  font-weight: 800;
  color: #000000;
}
.redes .iconos-redes {
  display: flex;
  justify-content: space-between;
  margin-top:20px;
  font-size: 1.5rem;
  color: #1F487E
} 
.iconos-redes i {
  margin: 0px 20px;
  cursor: pointer;
}   
.iconos-redes i:hover{
  color: #d90429;
}
.footer-nav {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-nav ul a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 800;
  margin: 5px;
  list-style-type: none;
}
.footer-nav ul a:hover{
  color: #d90429;
}
.suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.suscripcion label{
  font-weight: 600;
  font-size: 1rem;
}
.suscripcion input {
  margin: 20px;
  font-size: 0.8rem;
  border-radius: 2px;
}
.main-footer .suscripcion .btn {
  background-color: #1F487E;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.main-footer .suscripcion .btn:hover{
  background-color: #d90429;
  color: #fff;
}
.autor h3 {
  text-align: center;
  margin: 10px;
  font-size: 0.6rem;
  font-weight: 600;
}
.autor h3 a {
  text-decoration: none;
}
/* --------------------------Pagina Inicio Principal----------------------------------------*/
.contenedor-titulos-controles{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 20px;
}
.form-control label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}
.form-control select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
}
.form-control select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* --------------------------CONTENEDOR PRINCIPAL Y FLECHAS----------------------------------------*/
.peliculas-recomendadas{
  margin-top: 50px;
  margin-bottom: 70px;
}
.peliculas-recomendadas .contenedor-principal{
  display: flex;
  align-items: center;
  position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
  position: absolute;
  border: none;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 10px;
  background-size: 50px 50px;
  animation: pulsar 2s infinite;
  height: 30%; 
  top: calc(50% - 20%); 
  line-height: 40px; 
  width: 30px; 
  color: #ced4da;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda i,
.peliculas-recomendadas .contenedor-principal .flecha-derecha i {
  font-size: 30px; 
}
@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
background: rgba(0, 63, 125, 0.8);
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
  left: 0;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
  right:  0;
}
/* -----------------------------------CARROUSEL--------------------------------------------*/
.peliculas-recomendadas .contenedor-carrousel{
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.peliculas-recomendadas .contenedor-carrousel .carrousel{
  display: flex;
  flex-wrap: nowrap;
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula{
  min-width: 35%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula.hover{
  transform:scale(1.2);
  transform-origin: center;
} 
.pelicula {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #000; 
}
.pelicula:hover .tarjeta-texto{
  display: block;
}
.tarjeta-texto{
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 30% ;
  font-size: 40px;
  font-weight: 900;
  color: #eee;
  transition: 2000ms;
  cursor: pointer;
}
/* --------------------------PAGINA ULTIMOS PRODUCTOS CARGADOS----------------------------------------*/
.ultimos-productos {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ultimos-productos h2 {
  text-align: center;
  color: #003f7d;
  font-weight: bold;
}
.card-ultimos {
  width: 150px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-ultimos:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-ultimos .cover__card {
  width: 100%;
  height: 100px; 
  overflow: hidden;
}
.card-ultimos .cover__card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.titulo-producto {
  flex-grow: 1;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}
.titulo-producto h3 {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-weight: bold;
  font-size: 16px;
  max-width: 90%; 
  margin: 0 auto;
}
.precio-producto {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.precio-producto p {
  margin: 0;
  text-align: center;
  width: 100%;
}
.categoria-producto {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.categoria-producto h5 {
  font-weight: bold;
  text-align: center;
  width: 100%;
}
/*----------------------LOGIN--------------------*/
.body-login{
  margin: auto;
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin:0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;  
}
.login-form h2 {
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10 0;
}
.login-form input[type="text"],
.login-form input[type="password"]{
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.btn-login {
  width: 100%;
  padding: 15px;
  background-color: #1F487E;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
.btn-login:hover, .btn-login:active{
  color: #fff;
  background-color: #d90429;
  border-color: #d90429;
}
.btn-login:focus{
  box-shadow: 0 0 0 3px rgba(121,82,179,0.25);
}
.btn-ingresar{
  margin-top: 20px;
  margin-bottom:10px;
}
.register-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin:0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;  
}
.register-form h2 {
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10 0;
}
.register-form .error{
  color: #d90429;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}
.btn-guardar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn-register {
  width: 100%;
  padding: 15px;
  background-color: #1F487E;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #fff;
  -webkit-appearence:button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}
.btn-cancel {
  width: 100%;
  padding: 15px;
  background-color: #d90429;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #fff;
  -webkit-appearence:button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}
.btn-cancel:hover, .btn-cancel:active{
  color: #fff;
  background-color: #1F487E;
  border-color: #1F487E;
}
.btn-guardar:focus{
  box-shadow: 0 0 0 3px #10b981;
}
.btn-register:hover, .btn-register:active{
  color: #fff;
  background-color: #d90429;
  border-color: #d90429;
}
.btn-guardar:focus{
  box-shadow: 0 0 0 3px #10b981;
}
.formulario-register{
  display: flex;
  flex-direction: column;
}
.formulario-register label{
  text-align: center;
  color: #1F487E;
  font-size: 16px;
  font-weight: bold;
}
.formulario-register input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.btn-guardar{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.select-css{
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
}
/* ------------------------------EDITAR----------------------*/
.form-group-crear {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}
.imagen-miniatura-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.imagen-miniatura {
  margin-right: 10px; 
  width: 100px; 
  height: auto;
}
.pagina {
  color: red;
  font-size: 20px;
  margin: 0 10px;
  text-align: center;
}
.pagina:visited {
  color: blue;
}
.container-editar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 25%;
  width: 50%;
}
.contenido-editar{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;  
}
.editar-titulo{
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10 0;
}
.contenido-editar input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-weight: bold;
}
.contenido-editar label {
  text-align: center;
  color: #1F487E;
  font-size: 16px;
  font-weight: bold;
}
.botones-editar{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  padding: 20px;
}
.botones-editar button{
  margin-right: 50px;
}
/*-----------------------------PRESUPUESTO MOSTRADOR--------------------------*/
.resultado-busqueda {
  cursor: pointer;
}
#invoice-form {
  width: 80%;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column; 
  align-items: center;
}
#invoice-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#invoice-details .input-container {
  margin: 0 10px;
}
#invoice-details label {
  color: #003f7d;
  margin-top: 15px;
  font-weight: bold;
}
#invoice-form h2 {
  text-align: center;
  color: #6c757d;
  font-weight: bold;
}
#invoice-form label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.buscador {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 220px;
}

#resultadosBusqueda {
  width: 85%;
  max-height: 200px; 
  overflow-y: auto; 
  overflow-x: auto; 
  position: absolute; 
  background-color: #f1f0f0; 
  top: 100%;
  left: 50%; 
  transform: translateX(-50%);
  border-radius: 5px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #003f7d;
  font-weight: bolder;
}
#invoice-form input[type="text"],
#invoice-form input[type="date"],
#invoice-form input[type="number"] {
  width: 90%; 
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  margin: 0 auto; 
}
#invoice-form .table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
#invoice-form .table th,
#invoice-form .table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}
#invoice-form .table th {
  color: #003f7d;
}
#invoice-form button {
  display: block;
  width: 40%;
  padding: 10px;
  background-color: #1F487E;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
#invoice-form button:hover {
  background-color: #0056b3;
}
#invoice-form .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
#invoice-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

#invoice-total label {
  color: #003f7d; 
  font-weight: bold;
}

#invoice-total #total-amount {
  width: 50%; 
}
.botones-contenedor {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}
#invoice-form #print-button{
  background-color: #b80220;
  color: white;
}

/*-----------------------------CREAR--------------------------*/
.container-crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.titulo-crear {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #003f7d;
}
.contenido-crear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: auto; 
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: auto; 
}
.form-crear {
  display: flex;
  justify-content: space-between;
}

.caracteristicas, #proveedoresContainer, .utilidades {
  flex: 1 1 0;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.form-crear > div {
  border-right: 2px solid #d3d3d3; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.form-crear > div:last-child {
  border-right: none; 
}

.caracteristicas, .proveedores, .utilidades {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0; 
}

.proveedores {
  margin: 0 20px; 
}
.form-group-crear {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group-crear label {
  font-weight: bold;
  color: #1F487E;
}

.form-group-crear input, .form-group-crear select {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  padding: 10px;
  width: 100%;
  text-align: center; 
  font-weight: bold;
}
.botones-crear {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.botones-crear button, .botones-crear a {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
#proveedoresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#addProveedor {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition-duration: 0.4s;
  border-radius: 12px;
}

#addProveedor:hover {
  background-color: lightgreen;
  color: black;
}
/*-------------------------PAGINACIÓN---------------*/
.paginacion {
  display: flex;
  justify-content: center;
  gap: 10px; 
  padding: 20px 0; 
}

.paginacion a {
  text-decoration: none; 
  color: #333; 
  padding: 5px 10px;
  border: 1px solid #333; 
  border-radius: 5px; 
}
.paginacion a.pagina-actual {
  background-color: #333; 
  color: #fff;
  border-color: #333; 
}
/*---------------------------Todos los Productos -------------------------------*/
.titulo-principal {
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10px 0;
}
.contenedor-busqueda {
  display: flex;
  flex-direction: column;
}
.buscador input {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  width: 50%; 
  height: 40px; /* Aumenta la altura del input */
  margin: auto;
  display: block; /* Asegura que el input esté centrado */
} 
.buscador input:focus {
  box-shadow: 0 0 2px #719ECE;
}

.buscador input:valid {
  animation: input-glow 3s infinite;
}

@keyframes input-glow {
  0%, 100% {
    box-shadow: 0 0 4px #1F487E;
  }
  50% {
    box-shadow: 0 0 8px #1F487E, 0 0 8px #1F487E;
  }
}

.selectores-productos {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
  margin-top: -150px;
}

.selectores-productos label {
  color: #003f7d;
  font-weight: bold;
}

.selectores-productos select {
  min-width: 200px;
  color: #b80220;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border: none;
}
#categoria_id option, #id_marca option, #modelo_id option {
  font-weight: bold;
}
#categoria_id option:hover, #id_marca option:hover, #modelo_id option:hover {
  background-color:#007BFF;
}
.hidden {
  display: none;
}
/*--------------PRODUCTOS--------------*/
.contenedor-productos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
  justify-items: center; 
  margin:30px;
}
.cantidad-producto {
  display: flex;
  justify-content: center;
}
.card-link {
  display: inline-block;
  margin: 5px 0; 
  padding: 5px 10px;
  background-color: #1F487E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.card-link:hover {
  background-color: #0056b3;
}
.card {
  position: relative;
  padding: 10px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-origin: center center;
  width: 350px; 
  height: 400px;
}
.cover__card, .carousel {
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
}
.carousel {
  position: relative;
  height: 300px;
  margin-bottom: 15px; 
}

.carousel__buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.carousel__button {
  background: #003f7d;
  border: none;
  border-radius: 50%; 
  font-size: 1.5em; /* Reduce el tamaño de las flechas */
  cursor: pointer;
  width: 30px; /* Reduce el tamaño del botón */
  height: 30px; /* Reduce el tamaño del botón */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.carousel__button:hover {
  transform: scale(1.1); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}
.cover__card img, .carousel__image {
  width: 100%; 
  height: 100%;
  border-radius: 14px;
  object-fit: contain; 
}
.titulo-producto h3.nombre {
  font-size: 18px;
  font-weight: bold;
  color: #1F487E;
  text-align: center;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-height: 50px; 
}
.categoria-producto h6.categoria {
  font-weight: bold;
  text-align: center;
}
.precio-producto p{
  font-size: 20px; 
  font-weight:bold;
  text-align: center;
  color: #d90429;
  margin-top: 15px; 
}


/*--------------------DETALLE ---------------*/
#detalle {
  background-image: url('/uploads/productos/fondo-detalle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#detalle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
#contenedor-producto .card {
  margin-top: 80px;
}
/*---------------PANEL DE CONTROL ---------------*/
.table-light thead th {
  color: #1F487E;
}
.paginacion {
  border: none;
  font-weight: bold;
}

.paginacion a, .paginacion .active {  
  background-color: #003f7d;
  border-radius: 10px; 
  border: none;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5); 
  color: #fff; 
  text-decoration: none; 
  padding: 5px 10px; 
  margin: 5px; 
  display: inline-block; 
}

.paginacion .active {
  background-color: #b80220;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.paginacion a:hover {
  background-color: #b80220;
  border: none;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
/*---------------PROFILE---------------*/
.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
}
.user-card select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.user-card h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0056b3;
  font-size: 24px; 
}.saludo {
  margin-top: 20px;
  color: #0056b3;
  text-align: center;
}

.saludo h1 {
  font-size: 2em; 
}

.user-card form {
  display: grid;
  gap: 10px;
}

.user-card label {
  font-weight: bold;
}

.user-card input[type="text"],
.user-card input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.user-card input[type="submit"] {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.user-card input[type="submit"]:hover {
  background-color: #0056b3;
}
.user-card .delete-account {
  background-color: #FF0000;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.user-card .delete-account:hover {
  background-color: #b30000;
}
/*------------------ADMINISTRACION----------------------------*/
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 100px;
  padding: 20px;
  margin: auto; 
  width: 50%;
  margin-top: 150px;
  margin-bottom: 400px;
  justify-items: center; 
}

.button {
  font-size: 25px;
  padding: 20px 40px; 
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  color: white;
  border: none;
  font-weight: bold;
}

.button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.santander-button {
  background-color: #d90429;
}

.mercadopago-button {
  background-color: #007BFF;
}
.facturas-button,
.presupuesto-button {
  background-color: grey;
  border: 1px solid #999;
  box-shadow: 0 0 20px rgba(0,0,0,0.4), inset 0 0 20px rgba(0,0,0,0.4);
}
.facturas-button,
.presupuesto-button {
  background-color: grey;
  border: 1px solid #999;
  box-shadow: 0 0 20px rgba(0,0,0,0.4), inset 0 0 20px rgba(0,0,0,0.4);
  transition: background-color 0.3s ease;
}

.facturas-button:hover,
.presupuesto-button:hover {
  background-color: #555;
  transform: translateY(-3px);
}
/*------------------FACTURAS------------------*/

.botones-administrador {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.botones-administrador .btn {
  margin: 30px 50px; 
  padding: 20px 40px;
  border: none;
  border-radius: 50px; 
  background-color: #007BFF; 
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease 0s; 
}

.botones-administrador .btn:hover {
  background-color: #0069d9; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: white;
  transform: translateY(-7px); 
}

#fondoOscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#formularioFacturas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  width: 70%; 
  max-width: none; 
  height: auto;
  max-height: none; 
  padding: 20px; 
  background-color: #e1dede;
  border-radius: 20px;
}
.facturas-contenedor {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px;
}

.facturas-contenedor label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: center; 
}

.facturas-contenedor select,
.facturas-contenedor input {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8d8c8c;
  font-size: 16px;
  font-weight: bold;
  text-align: center; 
}

.facturas-contenedor select:hover,
.facturas-contenedor input:hover {
  border-color: #888;
}

.facturas-contenedor select option:hover {
  background-color: #f0f0f0;
}
.btn-facturas-guardar{
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.facturas-contenedor button[type="submit"] {
  background-color: #1F487E;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.facturas-contenedor button[type="reset"] {
  background-color: #d90429;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.facturas-contenedor button:hover {
  opacity: 0.8;
}

/*------------------Listado de Facturas------------------*/
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los formularios */
}

#proveedorForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background-color: #e3e4e4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#proveedorForm h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #003f7d;
  text-align: center;
}

#proveedorForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #495057;
}

#proveedorForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-weight: bold;
  color: #495057;
  background-color: #fff;
  margin-bottom: 20px;
}

#proveedorForm button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#proveedorForm button:hover {
  background-color: #0056b3;
}

#filterForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin-top:20px;
  padding: 20px;
  background-color: #e3e4e4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#filterForm h4{
  grid-column: span 2;
  margin-bottom: 20px;
  font-weight: bold;
  color: #003f7d;
  text-align: center;
}

#filterForm label {
  grid-column: 1;
  color: #495057;
  font-weight: bold;
}
#filterForm select, #filterForm input[type="date"] {
  grid-column: 2;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
  background-color: #fff;
}

/* Estilos para el botón de envío */
#filterForm input[type="submit"] {
  grid-column: span 2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#filterForm input[type="submit"]:hover {
  background-color: #0056b3;
}
#alertBox {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #4CAF50;
  color: white;
}

table tr:hover {background-color: #f5f5f5;}


table td img {
  width: 50px; 
  cursor: pointer;
  transition: transform 0.3s ease;
}


table td img:hover {
  transform: scale(1.2); 
}

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #a3a2a2;
        text-decoration: none;
        cursor: pointer;
    }
    .btn-modificar, .btn-eliminar {
      border-radius: 20px;
      border:none;
      font-weight: bold;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      transition: background-color 0.3s ease;
  }
  
  .btn-modificar {
      background-color: #4CAF50;
  }
  
  .btn-modificar:hover {
      background-color: #429b45;
  }
  
  .btn-eliminar {
      background-color: #d90429;
  }
  
  .btn-eliminar:hover {
      background-color: #b80220;
  }

/*------------------Modificar por Proveedor ------------------*/
.modificar-container {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
}

.modificar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modificar-label, .modificar-input, .modificar-select {
  margin: 10px 20px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.modificar-input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.modificar-input[type="submit"]:hover {
  background-color: #0056b3;
}
.modificar-input[type="number"] {
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
.modificar-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  font-weight: bold;
}

.modificar-btn:hover {
  background-color: #0056b3;
}

.modificar-table {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.modificar-th {
  color: black;
}
.modificar-th, .modificar-td {
  font-weight: bold;
}

.modificar-img {
  border-radius: 5px;
}



/*------------------RESPONSIVE------------------*/

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    height: auto; 
  }
  .logo {
    width: 200px; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
  }

  header .navbar {
    flex-direction: column;
    align-items: center;
  }

  header .navbar a {
    padding: .5rem 0;
  }

  .icons {
    width: 100%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .icons a {
    display: flex; 
    flex-direction: column; 
    width: 100%;
    margin-right: 0;
    margin-bottom: .5rem;
    text-align: center;
  }
  header .icons .logueado {
    flex-direction: column;
    align-items: center;
  }

  header .icons .logueado a {
    margin-right: 0;
    margin-bottom: .5rem;
  }
  .navbar, .icons {
    display: none;
  }
  header.open .navbar,
  header.open .icons {
    display: flex; 
    justify-content: center;
  }
  .hamburger {
    margin-top: 20px;
    display: block;
    align-self: center; /* Añadido para centrar el menú hamburguesa */
  }
 /*------carrusel de imagenes-------*/
 .peliculas-recomendadas .contenedor-carrousel .carrousel{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula{
  min-width: 0;
}
.indicadores, #flecha-izquierda, #flecha-derecha {
  display: none;
}
.pelicula {
  width: 100%;
  height: 30vh;
}
.imagen-carrusel {
  height: 100%;
  object-fit: cover; 
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula {
  position: relative;
}

.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula .tarjeta-texto {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 18px;
}
/*---------------footer------------------*/
  .main-footer {
    flex-direction: column;
    align-items: center; /* Añade esta línea para centrar los contenidos */
  }

  .redes, .footer-nav {
    align-items: center;
    text-align: center;
  }

  .redes .iconos-redes {
    justify-content: center;
  }

  .footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav ul a {
    margin: 10px 0;
  }

  .autor h3 {
    margin: 20px 10px;
  }

  /*------------Input Buscador-------------*/
  .buscador input {
    width: 80%;
  }
  .buscador input:focus {
    box-shadow: 0 0 2px #719ECE;
  }
  .buscador input:valid {
    animation: input-glow 3s infinite;
  }
  .selectores-productos {
    flex-direction: column; 
  }

  .selectores-productos select {
    min-width: 100%; 
  }

  /*-------------login y register --------------*/
 
    .login-form {
      width: 90%;
    }
  
    .login-form h2 {
      font-size: 24px;
      padding: 50px 0 10px 0;
    }
  
    .login-form input[type="text"],
    .login-form input[type="password"] {
      padding: 10px;
    }
  
    .btn-login {
      padding: 10px;
      font-size: medium;
    }
  
    .register-form {
      width: 90%;
    }
  
    .register-form h2 {
      font-size: 24px;
      padding: 50px 0 10px 0;
    }
  
    .btn-register {
      padding: 10px;
      font-size: medium;
    }
  
    .btn-cancel {
      padding: 10px;
      font-size: medium;
    }
  
    .select-css {
      width: 100%;
    }
  /*------TODOS LOS PRODUCTOS------*/
  .contenedor-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%; /* Ajusta el ancho de la tarjeta */
    margin-bottom: 20px; /* Añade un margen en la parte inferior para separar las tarjetas */
  }

  /*------------------CARRITO--------------*/
  .carrito-contenedor {
    flex-direction: column;
  }

  .carrito-productos {
    margin-right: 0;
  }
}