:root {
  --Dark-blue: #1d1e2c;
  --Light-gray: #8d99ae;
  --White: #ffffff;
  --Light-red: #ef233c;
  --Red: #d90429;
} 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  transition: .3s linear;
}
/* -------------------------------------------BODY----------------------------------*/

body {
    
  font-family: 'Montserrat', sans-serif;
  
}
main {
  margin-bottom: 100px; 
}

/* -----------------------------------------HEADER--------------------------------*/
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 25px rgba(189, 189, 189, 0.52);
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}
.hamburger {
  font-size: 1.5rem;
  display: none;
  background: linear-gradient(to bottom, #4c8fbd, #003f7d);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  position: relative;
}
.hamburger:active {
  top: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
header .logo{
  height: 200px;
}
header .navbar a {
  font-size: 14px;
  padding: 0 .9rem;
  text-decoration: none;
  color: #1F487E;
  font-family: "Montserrat";
  font-weight: bold;
  z-index: 10;
}
.navbar .nav-link-factura{
  color: #b80220; 
}
.navbar .nav-link:hover {
  color: #d90429
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .icons a {
  display: flex;
  flex-direction: row;
  width: 70%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #1F487E;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}

header .icons a:hover {
  color: var(--Red);
}

header .icons .register-link{
border-radius: 5px;
  background-color: #1F487E;
  color: #fff !important;
  padding: 0.5rem 1.0rem 0.5rem 1.0rem;
  cursor: pointer;
  top: -4px;
}

header .icons .register-link:hover {
  transition: .2s ease;
  background-color: #d90429;
}

header .logueado{
    display: flex;
    align-items: center; 
    gap: 10px; 
}

header .icons .logueado a{
  position: relative;
  margin-right: 10px;
}
header .icons .logueado a i {
  position: relative;
  margin-top: 0;

}
header .icons .logueado a i {
  font-size: 24px; 
  vertical-align: middle;
}
header .icons .logueado a span {
  margin-left: 5px; 
}
header .logueado img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

header .icons p {
  font-size: 15px;
  align-items: flex-start;
}
/* ---------------------------------------FOOTER ------------------------------------------- */
footer {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(189, 189, 189, 0.52);
  width: 100%;
}
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes .logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes h2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:20px;
  font-size: 1rem;
  font-weight: 800;
  color: #000000;
}
.redes .iconos-redes {
  display: flex;
  justify-content: space-between;
  margin-top:20px;
  font-size: 1.5rem;
  color: #1F487E
} 
.iconos-redes i {
  margin: 0px 20px;
  cursor: pointer;
}   
.iconos-redes i:hover{
  color: #d90429;
}
.footer-nav {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-nav ul a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 800;
  margin: 5px;
  list-style-type: none;
}
.footer-nav ul a:hover{
  color: #d90429;
}
.suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.suscripcion label{
  font-weight: 600;
  font-size: 1rem;
}
.suscripcion input {
  margin: 20px;
  font-size: 0.8rem;
  border-radius: 2px;
}
.main-footer .suscripcion .btn {
  background-color: #1F487E;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.main-footer .suscripcion .btn:hover{
  background-color: #d90429;
  color: #fff;
}
.autor h3 {
  text-align: center;
  margin: 10px;
  font-size: 0.6rem;
  font-weight: 600;
}
.autor h3 a {
  text-decoration: none;
}
/* --------------------------Pagina Inicio Principal----------------------------------------*/
.contenedor-titulos-controles {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 20px;
}

.form-control label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.form-control select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.form-control select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* --------------------------CONTENEDOR PRINCIPAL Y FLECHAS----------------------------------------*/
.peliculas-recomendadas {
  margin-top: 50px;
  margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 10px;
  background-size: 50px 50px;
  animation: pulsar 2s infinite;
  height: 30%; 
  top: calc(50% - 20%); 
  line-height: 40px; 
  width: 30px; 
  color: #ced4da;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda i,
.peliculas-recomendadas .contenedor-principal .flecha-derecha i {
  font-size: 30px; 
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 63, 125, 0.8);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

/* -----------------------------------CARROUSEL--------------------------------------------*/
.peliculas-recomendadas .contenedor-carrousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carrousel .carrousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula {
  min-width: 35%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula.hover {
  transform: scale(1.2);
  transform-origin: center;
}

.pelicula {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #000; 
}

.pelicula:hover .tarjeta-texto {
  display: block;
}

.tarjeta-texto {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 30% ;
  font-size: 40px;
  font-weight: 900;
  color: #eee;
  transition: 2000ms;
  cursor: pointer;
}
/*----------------------- Contenedor principal---------------------------- */
.contenedor-principal-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 50px 0;
}

/* ------------Últimos productos cargados---------- */
.ultimos-productos {
  flex: 1;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
}
.ultimos-productos h2 {
  text-align: center;
  color: #003f7d;
  font-weight: bold;
  font-size: 20px;
}
.card-ultimos {
  width: 100%;
  max-width: 150px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-ultimos:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.card-ultimos .cover__card {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.card-ultimos .cover__card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.titulo-producto {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}
.titulo-producto h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 10px;
  max-width: 100%;
  margin: 0 auto;
}
.precio-producto {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.precio-producto p {
  margin: 0;
  text-align: center;
  width: 90%;
}
.categoria-producto {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.categoria-producto h5 {
  color: #003f7d;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* ----------Ofertas productos---------- */

.contenedor-ofertas {
  flex: 1;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  padding: 10px;
  position: relative;
  margin-right: 20px;
}

.card-oferta {
  flex: 0 0 auto;
  width: 100%;
  max-width: 150px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ofertas-productos h2 {
  text-align: center;
  color: #003f7d;
  font-weight: bold;
  font-size: 20px;
}

.cover-card-oferta {
  height: 180px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-card-oferta img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.titulo-producto-oferta h3 {
  font-size: 12px;
  color: #003f7d;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.6em; 
  line-clamp: 3; 
}

.titulo-producto-oferta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.precio-producto-oferta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.precio-producto-oferta p {
  font-size: 16px;
  color: #b30000;
  font-weight: bold;
  margin: 0;
}

.categoria-producto-oferta h5 {
  font-size: 12px;
}

/*---------------Carrusel-------------------- */
.contenedor-carrousel-ofertas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.contenedor-productos-ofertas {
  display: flex;
  overflow: hidden;
  margin: 0 auto; 
  gap: 60px; 
  flex: 1;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  width: max-content; 
  justify-content: center;
}
.flecha-izquierda-ofertas, .flecha-derecha-ofertas {
  background-color: #003f7d;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.flecha-izquierda-ofertas {
  left: 10px;
}
.flecha-derecha-ofertas {
  right: 10px;
}

/*----------------------LOGIN--------------------*/
.body-login{
  margin: auto;
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin:0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;  
}
.login-form h2 {
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10 0;
}
.login-form input[type="text"],
.login-form input[type="password"]{
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.btn-login {
  width: 100%;
  padding: 15px;
  background-color: #1F487E;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
.btn-login:hover, .btn-login:active{
  color: #fff;
  background-color: #d90429;
  border-color: #d90429;
}
.btn-login:focus{
  box-shadow: 0 0 0 3px rgba(121,82,179,0.25);
}
.btn-ingresar{
  margin-top: 20px;
  margin-bottom:10px;
}
.register-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin:0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;  
}
.register-form h2 {
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10 0;
}
.register-form .error{
  color: #d90429;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}
.btn-guardar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn-register {
  width: 100%;
  padding: 15px;
  background-color: #1F487E;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #fff;
  -webkit-appearence:button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}
.btn-cancel {
  width: 100%;
  padding: 15px;
  background-color: #d90429;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #fff;
  -webkit-appearence:button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}
.btn-cancel:hover, .btn-cancel:active{
  color: #fff;
  background-color: #1F487E;
  border-color: #1F487E;
}
.btn-guardar:focus{
  box-shadow: 0 0 0 3px #10b981;
}
.btn-register:hover, .btn-register:active{
  color: #fff;
  background-color: #d90429;
  border-color: #d90429;
}
.btn-guardar:focus{
  box-shadow: 0 0 0 3px #10b981;
}
.formulario-register{
  display: flex;
  flex-direction: column;
}
.formulario-register label{
  text-align: center;
  color: #1F487E;
  font-size: 16px;
  font-weight: bold;
}
.formulario-register input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.btn-guardar{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.select-css{
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
}

/*-----------------------------PRESUPUESTO MOSTRADOR--------------------------*/
.resultado-busqueda {
  cursor: pointer;
}
#invoice-form {
  width: 80%;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column; 
  align-items: center;
}
#invoice-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#invoice-details .input-container {
  margin: 0 10px;
}
#invoice-details label {
  color: #003f7d;
  margin-top: 15px;
  font-weight: bold;
}
#invoice-form h2 {
  text-align: center;
  color: #6c757d;
  font-weight: bold;
}
#invoice-form label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.buscador {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; 
}

#resultadosBusqueda {
  width: 90%;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
  background-color: #f1f0f0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #003f7d;
  font-weight: bold;
}
.input-container p{
  margin-top: 10px;
  font-weight: bold;
  color: #003f7d;
} 
#invoice-form input[type="text"],
#invoice-form input[type="date"],
#invoice-form input[type="number"] {
  width: 90%; 
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  margin: 0 auto; 
}
#invoice-form .table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
#invoice-form .table th,
#invoice-form .table td {
  border: 1px solid #dee2e6;
  color: #003f7d;
  padding: 10px;
  text-align: left;
}
#invoice-form .table th {
  color: #003f7d;
}
#invoice-form button {
  display: block;
  width: 40%;
  padding: 10px;
  background-color: #1F487E;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
#invoice-form button:hover {
  background-color: #0056b3;
}
#invoice-form .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
#invoice-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

#invoice-total label {
  color: #003f7d; 
  font-weight: bold;
}

#invoice-total #total-amount {
  width: 50%; 
}
.botones-contenedor {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}
#invoice-form #print-button{
  background-color: #b80220;
  color: white;
}

.button-container-presupuesto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
}
.btn-primary-presupuestos {
  background-color: #1F487E;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary-presupuestos:hover {
  background-color: #0056b3;
}
#metodos-pago {
  margin: 20px auto; 
  text-align: center;
}
#metodos-pago h3 {
  font-size: 24px !important;
  margin-bottom: 15px;
  text-align: center !important;
  color: #003f7d;
  font-weight: bold;
}

.metodos-pago-checkboxes {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  gap: 20px !important;
}

.metodos-pago-checkboxes label {
  font-size: 18px !important; /* Ajusta el tamaño del texto */
  display: flex !important;
  align-items: center !important;
  gap: 10px !important; /* Espacio entre el checkbox y el texto */
}

.metodos-pago-checkboxes input[type="checkbox"] {
  transform: scale(1.5) !important; /* Agranda el checkbox */
  cursor: pointer !important; /* Cambia el cursor a una mano */
}
/* Estilo para todos los botones dentro de la tabla */
#facturas-table td button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

/* Colores y estilo específicos para cada botón */
#facturas-table td .btn-ver {
  background-color: #3498db; /* Azul claro */
  color: white;
}

#facturas-table td .btn-editar {
  background-color: #f39c12; /* Naranja */
  color: white;
}

#facturas-table td .btn-eliminar {
  background-color: #e74c3c; /* Rojo */
  color: white;
}

#facturas-table td .btn-guardar {
  background-color: #2ecc71; /* Verde */
  color: white;
}

#facturas-table td .btn-cancelar {
  background-color: #95a5a6; /* Gris */
  color: white;
}

/* Efecto hover */
#facturas-table td button:hover {
  opacity: 0.9;
  transform: scale(1.05); /* Efecto de tamaño */
  transition: all 0.3s ease;
}


/*--------------------------listadoPresupuestos--------------------------*/
.container-listadoPresupuestos {
  width: 80%;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}
.container-listadoPresupuesto label,
.container-listadoPresupuesto input,
.container-listadoPresupuesto button {
    margin: 10px;
}

#buscar {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#buscar:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.thead-presupuestos{
  background-color: #ccc;
}
.table-presupuestos th {
  background-color: #ccc;
}
.titulo-listado {
  text-align: center;
  font-size: 26px; 
  color: #003f7d;
  margin-bottom: 20px; 
  font-weight: bold;
}
.table-presupuestos {
  width: 100%;
  table-layout: auto;
}

.table-presupuestos th{
  padding: 10px;
  text-align: center; 
  color: #003f7d;
}

.table-presupuestos th:nth-child(1) {
  width: 8% !important; /* Ancho para ID Presupuesto */
}

.table-presupuestos th:nth-child(2) {
  width: 10% !important; /* Ancho para Fecha */
}

.table-presupuestos th:nth-child(3) {
  width: 35% !important; /* Ancho para Cliente */
}

.table-presupuestos th:nth-child(4) {
  width: 20% !important; /* Ancho para Total */
}

.table th, .table td {
  border: 1px solid #dee2e6;
  color: #003f7d;
  font-weight: bold;
}
.text-right {
  text-align: right;
}

#total-presupuestos {
  font-weight: bold;
  color: #b30000;
}
.tfoot-total {
  font-weight: bold;
  color: #b30000;
}
.table-presupuestos .td-presupuestos {
  font-weight: bold;
  color: #b30000;
}
#presupuestos-table button {
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.btn-ver {
  background-color: #0EAD69; 
  color: white;
}

.btn-editar {
  background-color: #FFD23F; 
  color: white;
}

.btn-eliminar {
  background-color: #F44336; 
  color: white;
}

.btn-guardar {
  background-color: #540D6E; 
  color: white;
}

.btn-cancelar {
  background-color: #A76D60; 
  color: white;
}

/* Estilos para botones ocultos */
#presupuestos-table button[style*="display: none"] {
  display: none !important;
}

/*-----------------------------CREAR--------------------------*/
.container-crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}
.titulo-crear {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #003f7d;
}
.contenido-crear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: auto; 
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: auto; 
}
.form-crear {
  display: flex;
  justify-content: space-between;
}
.caracteristicas, #proveedoresContainer, .utilidades {
  flex: 1 1 0;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.form-crear > div {
  border-right: 2px solid #d3d3d3; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}
.form-crear > div:last-child {
  border-right: none; 
}
.caracteristicas, .proveedores, .utilidades {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0; 
}
.proveedores {
  margin: 0 20px; 
}
.form-group-crear {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-group-crear label {
  font-weight: bold;
  color: #1F487E;
  font-size: 14px;
}
.form-group-crear input, .form-group-crear select {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  padding: 10px;
  width: 100%;
  text-align: center; 
  font-weight: bold;
  border-radius: 10px;
  font-size: 12px;
}
.botones-crear {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.botones-crear button, .botones-crear a {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
#proveedoresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#addProveedor {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition-duration: 0.4s;
  border-radius: 12px;
}
#addProveedor:hover {
  background-color: lightgreen;
  color: black;
}

/*-----------------------------EDITAR--------------------------*/

.container-editar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.titulo-editar {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #003f7d;
}
.card-body-editar {
  padding: 0; 
  background-color: #f9f9f9;
}
.contenido-editar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; 
  width: 100%; 
  box-sizing: border-box;
}
.caracteristicas-editar, 
#proveedoresContainer-editar, 
.utilidades-editar {
  flex: 1; 
  min-width: 0; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}
.form-group-editar input,
.form-group-editar select,
.form-group-editar .form-control {
  width: 100%;
  padding: 6px; 
  font-size: 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none; 
  height: auto; 
  box-sizing: border-box; 
}
.caracteristicas-editar {
  border-right: 1px solid #ccc;
}
.utilidades-editar {
  border-left: 1px solid #ccc;
}
.form-group-editar {
  margin-bottom: 15px;
}
.form-group-editar label {
  display: block;
  margin-bottom: 5px;
  color: blue;
  font-weight: bold;
  font-size: 12px;
}
.form-group-editar input,
.form-group-editar select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 12px;
}
.proveedor-editar .form-group-editar select.proveedores {
  width: 100%; 
  padding: 6px;
  margin: 0;
  box-sizing: border-box;
}
.proveedor-editar .form-group-editar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}
.imagen-miniatura-contenedor .imagen-miniatura {
  width: 80px;
  height: 80px;
}
.imagen-miniatura-contenedor {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.imagen-miniatura {
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.preview-img {
  position: relative;
  cursor: pointer;
}
.preview-img::after {
  content: '✕';
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
}
#addProveedor-editar {
  margin: 20px 0;
  font-size: 20px;
  padding: 4px 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.botones-editar .btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.botones-editar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.botones-editar .btn {
  font-weight: bold;
}
.proveedor-asignado {
  width: 100%;
}
#proveedoresContainer {
  display: flex;
  flex-direction: column;
}
.eliminar-proveedor {
  background-color: #b30000; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.eliminar-proveedor:hover {
  background-color: #ff1a1a; 
}
.form-group-crear {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group-crear input,
.form-group-crear select {
  flex: 1;
  max-width: 100%;
}
.form-group-crear select {
  padding: 5px; 
  border-radius: 5px; 
}

/*-------------------------PAGINACIÓN---------------*/
.paginacion {
  display: flex;
  justify-content: center;
  gap: 10px; 
  padding: 20px 0; 
}

.paginacion a {
  text-decoration: none; 
  color: #333; 
  padding: 5px 10px;
  border: 1px solid #333; 
  border-radius: 5px; 
}
.paginacion a.pagina-actual {
  background-color: #333; 
  color: #fff;
  border-color: #333; 
}
/*---------------------------Todos los Productos -------------------------------*/
.titulo-principal {
  text-align: center;
  color: #1F487E;
  font-size: 28px;
  font-weight: bold;
  padding: 70px 0 10px 0;
}
.contenedor-busqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}
.buscador {
  display: flex;
  justify-content: center; 
  margin: 20px 0;
}
.buscador input {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  width: 50%; 
  height: 40px; 
  text-align: center;
} 
.buscador input:focus {
  box-shadow: 0 0 2px #719ECE;
  outline: none; 
}
.buscador input:valid {
  animation: input-glow 3s infinite;
}
@keyframes input-glow {
  0%, 100% {
    box-shadow: 0 0 4px #1F487E;
  }
  50% {
    box-shadow: 0 0 8px #1F487E, 0 0 8px #1F487E;
  }
}
.selectores-productos {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
  margin-top: 20px;
}
.selectores-productos label {
  color: #003f7d;
  font-weight: bold;
}
.selectores-productos select {
  min-width: 200px;
  color: #b80220;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border: none;
}
#categoria_id option, #id_marca option, #modelo_id option {
  font-weight: bold;
}
#categoria_id option:hover, #id_marca option:hover, #modelo_id option:hover {
  background-color:#007BFF;
}
.hidden {
  display: none;
}
/*--------------PRODUCTOS--------------*/
.contenedor-productos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
  justify-items: center; 
  margin:30px;
}
.cantidad-producto {
  display: flex;
  justify-content: center;
}
.card-link {
  display: inline-block;
  margin: 5px 0; 
  padding: 5px 10px;
  background-color: #1F487E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.card-link:hover {
  background-color: #6a8bae;
}
.card {
  position: relative;
  padding: 10px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-origin: center center;
  width: 350px; 
  height: 340px;
}
.cover__card, .carousel {
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
}
.carousel {
  position: relative;
  height: 300px;
  margin-bottom: 15px; 
}
.carousel__buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.carousel__button {
  background: #003f7d;
  border: none;
  border-radius: 50%; 
  font-size: 1.5em; 
  cursor: pointer;
  width: 30px; 
  height: 30px; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}
.carousel__button:hover {
  transform: scale(1.1); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}
.cover__card img, .carousel__image {
  width: 100%; 
  height: 90%;
  border-radius: 14px;
  object-fit: contain; 
}
.titulo-producto h3.nombre {
  font-size: 14px;
  font-weight: bold;
  color: #1F487E;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-height: 50px; 
}
.categoria-producto h6.categoria {
  font-size: 12px;
  color: #1F487E;
  font-weight: bold;
  text-align: center;
}

.precio-producto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.precio-producto p{
  font-size: 20px; 
  font-weight:bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #d90429;
  margin-top: 15px; 
}
.stock-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
}
.stock-producto p {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
border-radius: 10px;
}
.stock-producto.bajo-stock {
  animation: stock-bajo 3s infinite;
}
@keyframes stock-bajo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.stock-producto.bajo-stock p {
  color: #fff;
  background-color: #b30000;
}
.stock-producto.suficiente-stock p {
  color: #fff;
  background-color: #09c41c;
}
.card.calidad-original-fitam {
  background-color: #003f7d;
  color: #ffffff; 
  position: relative;
}
.card.calidad-original-fitam .titulo-producto h3 {
  color: #ffffff; 
}
.card.calidad-original-fitam .categoria-producto h6 {
  color: #ffffff; 
}
.card.calidad-original-fitam .precio-producto p {
  color: #ffffff; 
}
.card.calidad-original-fitam .stock-producto p {
  color: #ffffff 
}
.card.calidad-original-fitam .carousel__button {
  background-color: #005099; 
  border: none;
  color: #ffffff;
}
.card.calidad-original-fitam .carousel__button:hover {
  background-color: #0077b6;
}
.card.calidad-original-fitam .card-link {
  color: #ffffff;
}
.card.calidad-original-fitam .card-link:hover {
  color: #ffffff; 
}
.card.calidad-original-fitam::before {
  content: "Calidad Original Fitam";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #003f7d; 
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.card.calidad-original-fitam .carousel__image {
  border: 2px solid #003f7d; 
}
.card.calidad-original-fitam hr {
  border-color: #ffffff;
} 
.card.calidad_vic {
  background-color: #b30000; /* Color de fondo rojo */
  color: #ffffff; 
  position: relative;
}

.card.calidad_vic .titulo-producto h3 {
  color: #ffffff; 
}

.card.calidad_vic .categoria-producto h6 {
  color: #ffffff; 
}

.card.calidad_vic .precio-producto p {
  color: #ffffff; 
}

.card.calidad_vic .stock-producto p {
  color: #ffffff; 
}

.card.calidad_vic .carousel__button {
  background-color: #b60000; 
  border: none;
  color: #ffffff;
}

.card.calidad_vic .carousel__button:hover {
  background-color: #b60000;
}

.card.calidad_vic .card-link {
  color: #ffffff;
}

.card.calidad_vic .card-link:hover {
  color: #ffffff; 
}

.card.calidad_vic::before {
  content: "Calidad VIC"; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b30000;
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.card.calidad_vic .carousel__image {
  border: 2px solid #b30000;
}

.card.calidad_vic hr {
  border-color: #ffffff; 
}

/*--------------------Pedido Manual---------------*/
.producto-item {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 4px;
}

.producto-item:hover {
  background-color: #f0f0f0;
}
/*--------------------DETALLE FACTURA --------------------*/
/* Estilo general para la vista de factura */
.factura-main {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  max-width: 800px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Estilo de los párrafos */
.factura-proveedor, .factura-fecha, .factura-numero, .factura-fecha-pago, .factura-importe, .factura-condicion {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

/* Título de los productos */
.factura-titulo-productos {
  font-size: 1.6rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Estilo de la tabla */
.factura-productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.factura-productos-table th, .factura-productos-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.factura-productos-table th {
  background-color: #3498db;
  color: white;
}

.factura-productos-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo del botón */
.factura-volver-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.factura-volver-btn:hover {
  background-color: #2980b9;
}

/*--------------------DETALLE ---------------*/
#detalle {
  background: linear-gradient(to right, #f3f3f3, #e0e0e0); 
}
#contenedor-producto {
  margin: 30px; 
}
#contenedor-producto .card {
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
}
#contenedor-producto .card .cover__card .carousel .carousel__image {
  object-fit: cover; 
}
#contenedor-producto .card .nombre{
  font-size: 14px;
}
#contenedor-producto .card .descripcion { 
  font-size: 12px;
  font-weight: bold;
  color: #003f7d;
}
.descripcion {
  text-align: center;
  font-weight: bold;
}
/*---------------PANEL DE CONTROL ---------------*/

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.container > div {
  background-color: #003f7d;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #fff;
}

.form-control .botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn-primary {
  background-color: #b80220;
  padding: 8px 15px;
  font-size: 0.7em;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #840000;
}

.form-control label, .form-control select, .form-control input, .form-control button {
  font-size: 0.7em;
  font-weight: bold;
  color: #fff;
}
.form-control select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

.form-control select option {
  background-color: #f7f7f7;
  color: #333;
  padding: 10px;
}

.form-control button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b80220;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-control button[type="submit"]:hover {
  background-color: #840000;
}

.form-control label {
  margin-bottom: 10px;
}

.form-control input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-control button{
  background-color: #b80220;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-control button:hover {
  background-color: #840000;
}

.form-control h4 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

/* Animaciones */

.container > div:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.btn-primary:active {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

.container > div {
  min-height: 150px;
}
.form-control.botones a {
  font-weight: bold;
  margin-bottom: 10px; 
  background-color: #f4f3f4; 
  color: #003f7d;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-control.botones a:hover {
  background-color: #e5e2e2;
}
.contenedor-busqueda {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.paginacion a {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.paginacion a:hover {
  background-color: #ddd;
}

.paginacion .active {
  background-color: #004d99;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

.buscador-panel {
  margin-bottom: 20px;
}

.buscador-panel input[type="text"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}

td {
  vertical-align: middle;
}

.img-thumbnail {
  border: none;
  border-radius: 5px;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn-group-vertical button {
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #004d99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-group-vertical button:hover {
  background-color: #007bff;
}

#delete-selected {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #b80220;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#delete-selected:hover {
  background-color: #840000;
}

.contenedor-busqueda:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.paginacion a:active {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}
/*---------------PROFILE---------------*/
.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
}
.user-card select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.user-card h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0056b3;
  font-size: 24px; 
}.saludo {
  margin-top: 20px;
  color: #0056b3;
  text-align: center;
}

.saludo h1 {
  font-size: 2em; 
}

.user-card form {
  display: grid;
  gap: 10px;
}

.user-card label {
  font-weight: bold;
}

.user-card input[type="text"],
.user-card input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.user-card input[type="submit"] {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.user-card input[type="submit"]:hover {
  background-color: #0056b3;
}
.user-card .delete-account {
  background-color: #FF0000;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.user-card .delete-account:hover {
  background-color: #b30000;
}
/*------------------ADMINISTRACION----------------------------*/
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 100px;
  padding: 20px;
  margin: auto; 
  width: 50%;
  margin-top: 150px;
  margin-bottom: 400px;
  justify-items: center; 
}

.button {
  font-size: 25px;
  padding: 20px 40px; 
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  color: white;
  border: none;
  font-weight: bold;
}

.button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.santander-button {
  background-color: #d90429;
}

.mercadopago-button {
  background-color: #007BFF;
}
.facturas-button,
.presupuesto-button {
  background-color: grey;
  border: 1px solid #999;
  box-shadow: 0 0 20px rgba(0,0,0,0.4), inset 0 0 20px rgba(0,0,0,0.4);
}
.facturas-button,
.presupuesto-button {
  background-color: grey;
  border: 1px solid #999;
  box-shadow: 0 0 20px rgba(0,0,0,0.4), inset 0 0 20px rgba(0,0,0,0.4);
  transition: background-color 0.3s ease;
}

.facturas-button:hover,
.presupuesto-button:hover {
  background-color: #555;
  transform: translateY(-3px);
}
/*------------------FACTURAS------------------*/

.botones-administrador {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.botones-administrador .btn { 
  margin: 30px 50px; 
  padding: 20px 40px;
  border: none;
  border-radius: 50px; 
  background-color: #007BFF; 
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease 0s; 
}

.botones-administrador .btn:hover {
  background-color: #0069d9; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: white;
  transform: translateY(-7px); 
}
#fondoOscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

#formularioFacturas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 60%; /* Ajustar para que coincida con el ancho de .facturas-contenedor */
  max-width: 700px;
  padding: 20px;
  background-color: #e1dede;
  border-radius: 20px;
}

.facturas-contenedor {
  background: white;
  padding: 20px;
  width: 100%; /* Para que ocupe todo el ancho disponible en #formularioFacturas */
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
}

.facturas-contenedor label {
  font-weight: bold;
  margin-top: 10px;
}

.facturas-contenedor select,
.facturas-contenedor input {
  width: 80%; /* Reducir el ancho de los inputs */
  padding: 6px; /* Reducir el padding */
  font-size: 14px; /* Reducir el tamaño de fuente */
  border-radius: 5px;
  border: 1px solid #8d8c8c;
  text-align: center;
}

.contenedor-buscador-facturas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.buscador {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

#entradaBusqueda {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #8d8c8c;
}

#tabla-factura {
  width: 100%;
}

#tabla-factura th,
#tabla-factura td {
  padding: 10px;
  text-align: center;
  border: 1px solid #8d8c8c;
}

#guardarFactura,
#cerrarFormulario {
  background-color: #1F487E;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  width: 120px; /* Tamaño igual para ambos botones */
  margin-top: 20px;
  align-self: center;
}

#cerrarFormulario {
  background-color: #d90429; /* Color específico para el botón de cerrar */
}

.boton-eliminar {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}


/*------------------Listado de Facturas------------------*/
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los formularios */
}

#proveedorForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background-color: #e3e4e4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#proveedorForm h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #003f7d;
  text-align: center;
}

#proveedorForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #495057;
}

#proveedorForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-weight: bold;
  color: #495057;
  background-color: #fff;
  margin-bottom: 20px;
}

#proveedorForm button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#proveedorForm button:hover {
  background-color: #0056b3;
}

#filterForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin-top:20px;
  padding: 20px;
  background-color: #e3e4e4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#filterForm h4{
  grid-column: span 2;
  margin-bottom: 20px;
  font-weight: bold;
  color: #003f7d;
  text-align: center;
}

#filterForm label {
  grid-column: 1;
  color: #495057;
  font-weight: bold;
}
#filterForm select, #filterForm input[type="date"] {
  grid-column: 2;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
  background-color: #fff;
}

/* Estilos para el botón de envío */
#filterForm input[type="submit"] {
  grid-column: span 2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#filterForm input[type="submit"]:hover {
  background-color: #0056b3;
}
#alertBox {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #4CAF50;
  color: white;
}

table tr:hover {background-color: #f5f5f5;}


table td img {
  width: 50px; 
  cursor: pointer;
  transition: transform 0.3s ease;
}


table td img:hover {
  transform: scale(1.2); 
}

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #a3a2a2;
        text-decoration: none;
        cursor: pointer;
    }
    .btn-modificar, .btn-eliminar {
      border-radius: 20px;
      border:none;
      font-weight: bold;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      transition: background-color 0.3s ease;
  }
  
  .btn-modificar {
      background-color: #4CAF50;
  }
  
  .btn-modificar:hover {
      background-color: #429b45;
  }
  
  .btn-eliminar {
      background-color: #d90429;
  }
  
  .btn-eliminar:hover {
      background-color: #b80220;
  }

/*------------------Modificar por Proveedor ------------------*/
.modificar-container {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
}

.modificar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modificar-label, .modificar-input, .modificar-select {
  margin: 10px 20px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.modificar-input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.modificar-input[type="submit"]:hover {
  background-color: #0056b3;
}
.modificar-input[type="number"] {
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
.modificar-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  font-weight: bold;
}

.modificar-btn:hover {
  background-color: #0056b3;
}

.modificar-table {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.modificar-th {
  color: black;
}
.modificar-th, .modificar-td {
  font-weight: bold;
}

.modificar-img {
  border-radius: 5px;
}
/*-----------Productos Actualizados-----------------*/
.positivo {
  color: #09c41c;
}

.negativo {
  color: #b30000;
}

/*------------------RESPONSIVE------------------*/

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    height: auto; 
  }
  .logo {
    width: 200px; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
  }

  header .navbar {
    flex-direction: column;
    align-items: center;
  }

  header .navbar a {
    padding: .5rem 0;
  }

  .icons {
    width: 100%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .icons a {
    display: flex; 
    flex-direction: column; 
    width: 100%;
    margin-right: 0;
    margin-bottom: .5rem;
    text-align: center;
  }
  header .icons .logueado {
    flex-direction: column;
    align-items: center;
  }

  header .icons .logueado a {
    margin-right: 0;
    margin-bottom: .5rem;
  }
  .navbar, .icons {
    display: none;
  }
  header.open .navbar,
  header.open .icons {
    display: flex; 
    justify-content: center;
  }
  .hamburger {
    margin-top: 20px;
    display: block;
    align-self: center; /* Añadido para centrar el menú hamburguesa */
  }
 /*------carrusel de imagenes-------*/
 .peliculas-recomendadas .contenedor-carrousel .carrousel{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula{
  min-width: 0;
}
.indicadores, #flecha-izquierda, #flecha-derecha {
  display: none;
}
.pelicula {
  width: 100%;
  height: 30vh;
}
.imagen-carrusel {
  height: 100%;
  object-fit: cover; 
}
.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula {
  position: relative;
}

.peliculas-recomendadas .contenedor-carrousel .carrousel .pelicula .tarjeta-texto {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 18px;
}
/*---------------footer------------------*/
  .main-footer {
    flex-direction: column;
    align-items: center; /* Añade esta línea para centrar los contenidos */
  }

  .redes, .footer-nav {
    align-items: center;
    text-align: center;
  }

  .redes .iconos-redes {
    justify-content: center;
  }

  .footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav ul a {
    margin: 10px 0;
  }

  .autor h3 {
    margin: 20px 10px;
  }

  /*------------Input Buscador-------------*/
  .buscador input {
    width: 80%;
  }
  .buscador input:focus {
    box-shadow: 0 0 2px #719ECE;
  }
  .buscador input:valid {
    animation: input-glow 3s infinite;
  }
  .selectores-productos {
    flex-direction: column; 
  }

  .selectores-productos select {
    min-width: 100%; 
  }

  /*-------------login y register --------------*/
 
    .login-form {
      width: 90%;
    }
  
    .login-form h2 {
      font-size: 24px;
      padding: 50px 0 10px 0;
    }
  
    .login-form input[type="text"],
    .login-form input[type="password"] {
      padding: 10px;
    }
  
    .btn-login {
      padding: 10px;
      font-size: medium;
    }
  
    .register-form {
      width: 90%;
    }
  
    .register-form h2 {
      font-size: 24px;
      padding: 50px 0 10px 0;
    }
  
    .btn-register {
      padding: 10px;
      font-size: medium;
    }
  
    .btn-cancel {
      padding: 10px;
      font-size: medium;
    }
  
    .select-css {
      width: 100%;
    }
  /*------TODOS LOS PRODUCTOS------*/
  .contenedor-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%; /* Ajusta el ancho de la tarjeta */
    margin-bottom: 20px; /* Añade un margen en la parte inferior para separar las tarjetas */
  }

  /*------------------CARRITO--------------*/
  .carrito-contenedor {
    flex-direction: column;
  }

  .carrito-productos {
    margin-right: 0;
  }

  /*------------------INDEX CONTENEDOR OFERTAS Y AGREGADOS --------------*/
  .contenedor-principal-productos {
    flex-direction: column;
    gap: 10px;
  }
  .ultimos-productos, .contenedor-ofertas {
    max-width: 100%;
    margin: 0;
  }
  .card-ultimos, .card-oferta {
    width: 100%;
    max-width: 100%;
  } 
  .titulo-producto h3, .titulo-producto-oferta h3 {
    font-size: 14px;
  }
  .precio-producto p, .precio-producto-oferta p {
    font-size: 12px;
  }
  .flecha-izquierda-ofertas, .flecha-derecha-ofertas {
    display: none;
  }
  .contenedor-principal-productos {
    padding: 10px;
  }
  .ultimos-productos, .contenedor-ofertas {
    padding: 10px;
  }
  .card-ultimos, .card-oferta {
    padding: 10px;
  }
}